.btn {
	cursor: pointer;
}

body {
	color: rgb(52, 73, 94);
	transition: color .5s ease-in-out;
}

.clicked {
	color:green;
}

.form,
.greetings {
	display: none;
}

.showing {
	display: block;
}